body {
    font-family: Arial;
    margin: 0;
    padding: 0;
    background-color: #fafafa;
}

.container {
    width: 960px;
    background-color: white;
    padding: 15px 25px;
    border: 1px solid #efefef;
    box-shadow: 0px 1px 4px rgb(0 0 0 / 10%);
    margin: auto;
    margin-top: 15px;
    border-radius: 5px;
}

h2 {
    text-align: center;
    margin: 0;
}

footer {
    text-align: center;
    margin-top: 15px;
    font-size: 13px;
}